
@font-face {
    font-family: Poppins;
    src: url(https://fonts.google.com/specimen/Poppins);
}
@font-face {
    font-family: "Open Sans";
    src: url(https://fonts.google.com/specimen/Open+Sans);
}